.carousel-item {
   
    position: relative;
 
    display: flex;
    flex-direction: column;
    align-items: center;
}


.carousel-item div {
    position: absolute;
    top: 30%;  
    z-index: 1;
    color: white;
    text-align: center;
   
    /* Adjust other styles as needed */
}
.carousel-item img {
    filter: brightness(20%);
}
.carousel-item h1 {
    font-size: 1.5rem;
  
}

#discountImg {
    filter: brightness(100%)
}

